$primary-color: #343434;

body {
    margin: 0;
    background: #FFD49B;
}

main {
  font-family: 'Roboto', sans-serif;
  p {
    font-size: 20px;
  }
}

.container {
    padding: 20px 150px;
}

.nav {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1;
}

.nav, .wrapper {
  display: flex;
  .left, .middle, .right {
  height: 50px;
  min-width: 200px;
  margin: 0;
  flex: 1;
}
.container {
    padding: 20px 150px;
}
.description {
    text-align:center;
}
}

.header {
    padding: 70px 0 0 0;
}

.wrapper > div {
    font-size: 4vh;
    color: black;
    background: transparent;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    .name {
        font-family: 'Kaushan Script', cursive;
        margin: 40px 0 0 0;
        color: #360C26;
        }
    .job-title {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 18px;
        margin: 0 0 40px 0;
        color: #360C26;
    }
}

.image-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img { 
    max-height: 250px;
    }

}

.dark-background {
    background: #360C26;
    p {
      color: white;
    }
}

.parallax1, .parallax2 {
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trees {
  min-height: 300px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/trees.png");
}

.parallax1 {
  background-image: url("images/ga.png");
  border-left: 100vw solid transparent;
  border-top: 100px solid#360C26;
  border-bottom: 100px solid #FFD49B;
}

.parallax2 {
  background-image: url("images/experience.png");
  border-top: 100px solid #FFD49B;
  border-bottom: 100px solid #FFD49B;
  border-right: 100vw solid transparent;
}

.slideInLeft, .slideInRight {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}



