$primary-color: #343434;

body, html { 
  overflow-x:hidden;
}

html {
  scroll-behavior: smooth;
}


body {
    margin: 0;
    background: #360C26;
    a {
      text-decoration: none;
    }
}

.gradient-test {
  background-image: linear-gradient(#FFD49B, #FF9000, #F46119);
}

main {
  font-family: 'Raleway', sans-serif;
  p {
    font-size: 20px;
  }
}

.container {
    padding: 20px 150px;
}

// .nav {
//     position: fixed;
//     width: 100%;
//     background: transparent;
//     z-index: 1;
// }

// .nav, {
//   display: flex;
//   .left, .middle, .right {
//   height: 50px;
//   min-width: 200px;
//   margin: 0;
//   flex: 1;
// }

.quarter-circle {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 75px;
  line-height: 75px;
  text-align: center;
  background: white;
  opacity: 0.9;
  border-bottom-right-radius: 100%;
  font-size: 1.5rem;
  animation: shrink 2s ease infinite;
}

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: white;
  opacity: 0.9;
  color: black;
  cursor: pointer;
  font-size: 1.8rem;
  height: 100vh;
  left: -30rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 13rem;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: #360C26;
  }
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 0.7rem;
  position: fixed;
  top: 0.8rem;
  width: 2.5rem;
  z-index: 2;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #360C26;
  content: '';
  height: 0.3rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: #360C26;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.delay {
      animation-delay: 3s;
}


.wrapper {
  display: flex;
  .left, .middle, .right {
  height: 50px;
  min-width: 200px;
  margin: 0;
  flex: 1;
}

.container {
    padding: 20px 150px;
}
.description {
    text-align:center;
}
}

.header {
    padding: 10px 0 0 0;
}

.wrapper > div {
    font-size: 4vh;
    color: black;
    background: transparent;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    flex: 1;
    .name {
        font-family: 'Kaushan Script', cursive;
        color: #360C26;
        margin: 0;
        }
    .job-title {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 18px;
        color: #360C26;
        margin: 0;
    }
}

.scroll {
    font-family: 'Poppins', sans-serif;
    animation-delay: 3s;
    margin: 0;
    padding: 0;
    div {
      color: #360C26;
      text-align:center;
    }
}

.image-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    img { 
    max-height: 220px;
    }
}

.wording-heading {
  text-align: center;
  margin: 0;
}

.project-image {
    img { 
    max-height: 300px;
    }
}

.dark-background {
    background: #360C26;
    font-family: 'Raleway', sans-serif;
  p, h5, h2, h6 {
        color: white;
  }
  h2 {
    font-family: 'Kaushan Script', cursive;
  }
  p {
    font-size: 20px;
  }
}

.icons {
  i {  
    color: white;

   }
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trees {
  min-height: 300px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/trees.png");
}

.parallax1 {
  background-image: url("images/ga.png");
  border-left: 100vw solid transparent;
  border-top: 100px solid#360C26;
  border-bottom: 100px solid #360C26;
}

.parallax2 {
  background-image: url("images/experience.png");
  border-top: 100px solid #360C26;
  border-bottom: 100px solid #360C26;
  border-right: 100vw solid transparent;
}

.parallax3 {
  background-image: url("images/technologies.png");
  border-left: 100vw solid transparent;
  border-top: 100px solid#360C26;
  border-bottom: 100px solid #360C26;
}

.parallax4 {
  background-image: url("images/projects.png");
  border-top: 100px solid #360C26;
  border-bottom: 100px solid #360C26;
  border-right: 100vw solid transparent;
}

.parallax5 {
  background-image: url("images/contact.png");
  border-left: 100vw solid transparent;
  border-top: 100px solid#360C26;
  border-bottom: 100px solid #360C26;
}

.slideInDown, .fadeInUp, .fadeIn {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media only screen and (max-width: 1200px){

.desktop-only {
  display: none;
}
}

@media only screen and (min-width: 1201px){

.mobile-only {
  display: none;
}
}



@media only screen and (max-width: 500px){

.name {
  font-size: 40px
}
.job-title {
  font-size: 20px
}
.scroll {
    div { font-size: 20px }
}


.wrapper .container {
    padding: 20px;
}


}

@media only screen and (max-width: 800px){

.project-image {
    img { 
    max-height: 200px;
    }
  }
.wrapper .container {
    padding: 20px;
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
  display: none;
}
}
